/* Header section */

.header {
    box-shadow: 0 4px 0 #f34949;
}

.nav {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    padding: 40px 0;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    text-decoration: none;
    display: inline-block;
    color: #3b3b3b;
    font-family: 'Aleo', serif;
    font-size: 14px;
    letter-spacing: 0.98px;
    margin-left: 50px;
}

.menu__item:hover {
    text-decoration: underline;
}

.menu__item:first-child {
    margin-left: 0;
}

.hero-section {
    position: relative;
    height: 570px;
}

.hero-section::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/hero-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero-section::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #3f3f3f;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 2;
}

.hero-section__header {
    position: absolute;
    color: #ffffff;
    font-family: 'Over the Rainbow', cursive;
    font-size: 70px;
    z-index: 3;
    width: 100%;
    text-align: center;
    top: 160px;
    line-height: 90px;
}

.hero-section__desc {
    position: absolute;
    color: #ffffff;
    font-family: 'Aleo', serif;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.64px;
    z-index: 4;
    top: 315px;
    left: 50%;
    transform: translateX(-50%);
}

.hero-section__desc::before {
    content: '';
    width: 40px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: -66px;
    top: 9px;
}

.hero-section__desc::after {
    content: '';
    width: 40px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    right: -66px;
    top: 9px;
}

@media (max-width: 1150px) {
    .nav {
        margin: 0 50px;
    }
}

@media (max-width: 885px) {
    .hero-section__header {
        top: 100px;
    }
}

@media (max-width: 750px) {
    .nav {
        flex-direction: column;
        margin: 0;
    }
    .logo {
        margin-bottom: 15px;
    }
    .menu__item {
        margin-left: 18px;
    }
}

@media (max-width: 446px) {
    .hero-section__header {
        top: 65px;
    }
    .hero-section__desc {
        top: 370px
    }
    .nav {
        margin: 0;
    }
    .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu__item {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .menu__item:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 380px) {
    .hero-section__header {
        top: 25px;
    }
    .hero-section__desc {
        top: 425px
    }
}

/* Section 'Menu' */

.restaurant-menu {
    max-width: 1100px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.restaurant-menu__header {
    background-color: #f34949;
    height: 75px;
    width: 155px;
    margin: 0 auto;
    text-align: center;
    line-height: 75px;
    font-family: 'Aleo', serif;
    font-weight: bold;
    color: #fff;
    position: relative;
    margin-bottom: 81px;
}

.restaurant-menu__header::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 77.5px 11px 77.5px;
    border-color: transparent transparent #ffffff transparent;
}

.restaurant-menu__lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    padding: 0 30px;
}

.restaurant-menu-list__item {
    display: flex;
    margin-bottom: 60px;
    justify-content: space-between;
}

.restaurant-menu-list__dish {
    margin: 0;
    font-family: 'Aleo', serif;
    font-size: 16px;
    color: #555;
}

.restaurant-menu-list__dish-desc {
    font-weight: 300;
    font-style: italic;
    font-size: 12px;
    color: #b7b7b7;
}

.restaurant-menu-list__line {
    width: 39%;
    height: 1px;
    background-color: #e3e1e1;
    margin: 10px 10% 0 10%;
}

.restaurant-menu__load-more-btn {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 133px;
    height: 34px;
    background: transparent;
    border: 1px solid #d7d5d5;
    cursor: pointer;
    font-family: 'Aleo', serif;
    color: #b7b7b7;
    font-size: 14px;
}

.restaurant-menu__load-more-btn-arrow {
    border: solid #b7b7b7;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-top: -4px;
}

@media only screen and (max-width: 768px) {
    .restaurant-menu__lists {
        grid-template-columns: 1fr;
    }
}

/* Section 'Dishes' */

.dishes {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 201px;
    padding: 0 30px;
}

.dishes__slider-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 83px;
}

.dishes-slider__header {
    font-family: 'Aleo', serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

.dishes-slider__header::after {
    content: '';
    width: 200px;
    height: 1px;
    background-color: #e5e3e3;
    position: absolute;
    top: 10px;
    right: -218px;
}

.dishes-slider-nav__btn {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin-left: 11px;
    cursor: pointer;
}

.dishes-slider-nav__btn-img {
    display: block;
    width: 9px;
    height: 9px;
    background-color: #dedede;
    border-radius: 50%;
}

.dishes-slider-nav__btn-img--active {
    background-color: #9b9b9b;
}

.dishes-slider__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 60px;
}

.dishes-slider__item {
    text-align: center;
}

.dishes-slider__item-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.dishes-slider__item-name,
.dishes-slider__item-price {
    font-family: 'Aleo', serif;
    font-weight: lighter;
    color: #555;
    font-size: 16px;
}

.dishes-slider__item-name {
    width: 230px;
    display: block;
    text-align: left;
    margin: 0 auto;
    position: relative;
    margin-bottom: 15px;
}

.dishes-slider__item-price {
    text-align: right;
    display: inline-block;
    margin-right: auto;
    position: absolute;
    right: 0;
}

.dishes-slider__items-rating {
    width: 234px;
    display: block;
    margin: 0 auto;
    text-align: left;
    font-size: 11px;
}

.fas {
    margin-right: 5px;
}

.fa-star--gold {
    color: #f1df1a;
}

.fa-star--gray {
    color: #dedede;
}

@media (max-width: 575.98px) {
    .dishes__slider-navigation {
        flex-direction: column;
        margin-bottom: 10px;
    }
    .dishes-slider__item-img {
        width: 100%;
    }
    .dishes-slider__header {
        margin-bottom: 25px;
    }
    .dishes-slider__header::after {
        width: 30%;
        left: 196px;
    }
    .dishes-slider__nav {
        text-align: right;
    }
    .dishes-slider__items {
        grid-gap: 25px;
    }
    .dishes-slider__item-img {
        margin-bottom: 10px;
    }
    .dishes-slider__item-name {
        margin-bottom: 5px;
        width: 100%;
    }
    .dishes-slider__items-rating {
        width: 100%;
    }
}